extends ../base
block title 
  | mg_order_fast
block main
  table(border="0" cellpadding="0" cellspacing="0" style="width:100%; margin:0; padding:0; font-size:14px;")
    tr
      td(style="width:400px")
        p Номер обращения:
          strong №0000001
        p 
          strong Имя: 
          |Наталья
        p 
          strong Телефон: 
          |
          a(href="phone:+7 968 617-88-22") +7 968 617-88-22
        p 
          strong E-mail: 
          |
          a(href="mailto:business.savin@gmail.com") business.savin@gmail.com [написать↑]
      td(style="text-align:right")
        img(src=require('../../img/logo.png') style="width:124px;display:block;" alt="" border="0" width="124" align="right")
    tr
      td(colspan="2")
        p 
          i 
            strong Сообщение:
        p Моё сообщение для вас, из формы быстрого обращения на что либо, может быть много символов , может быть много символов , может быть много символов , может быть много символов , может быть много символов , может быть много символов
