doctype html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content="width=device-width")
    title
      block title
  body(style="background-color:#fff;color:#2f2f2f;font-family:Arial,sans-serif;margin:0px;font-size:14px;")
    .wrapp(style="width:610px;border:1px solid #e8e8e8;margin:10px;padding:10px;")
      header
        table(border="0" cellpadding="0" cellspacing="0" style="width:100%; margin:0; padding:0;font-size:14px;")
          tr
            td(style="text-align:center;")
                strong м.Третьяковская, м.Новокузнецкая
                |
                br
                |
                strong(style="color:#000") Озерковская  набережная  22/24c1
                |
                br
                |
                a(href="https://yandex.ru/maps/213/moscow/?mode=search&ll=37.636311%2C55.740517&z=17&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D37.636%252C55.741%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259C%25D0%25BE%25D1%2581%25D0%25BA%25D0%25B2%25D0%25B0%252C%2520%25D0%259E%25D0%25B7%25D0%25B5%25D1%2580%25D0%25BA%25D0%25BE%25D0%25B2%25D1%2581%25D0%25BA%25D0%25B8%25D0%25B9%2520%25D0%25BF%25D0%25B5%25D1%2580%25D0%25B5%25D1%2583%25D0%25BB%25D0%25BE%25D0%25BA%252C%252022%252F24%25D1%25811%2520" target="_blank") посмотреть на карте
            td
              table(border="0" cellpadding="0" cellspacing="0" style="width:100%; margin:0; padding:0;font-size:14px;")
                tr
                  td(style="text-align:center;") Пн-Пт:
                  td с 10:00 до 20:00
                tr
                  td(style="text-align:center;") Сб:
                  td с 11:00 до 19:00
                tr
                  td(style="text-align:center;") Вс:
                  td Выходной день
            td
              a(href="tel:8 (925) 003-81-89" style="font-weight:bold;text-decoration:underline;color:#000;") 8 925 003-81-89
              br
              | 
              a(href="tel:8 (499) 397-01-48" style="font-weight:bold;text-decoration:underline;color:#000;") 8 499 397-01-48
              br
              |
              a(href="mailto:team@univer-club.ru") team@univer-club.ru
        .menu(style="border:1px solid #e8e8e8;padding:5px 0;margin:10px 0 0 0;")
          table(border="0" cellpadding="0" cellspacing="0" style="width:100%; margin:0; padding:0;font-size:14px;text-align:center;")
            tr
              td 
                a(href="https://univer-club.ru/store-catalog/" target="_blank") Каталог
              td
                a(href="https://univer-club.ru/rasprodazha/" target="_blank") Распродажа
              td
                a(href="https://univer-club.ru/payment/" target="_blank") Оплата
              td
                a(href="https://univer-club.ru/photoalbums/" target="_blank") Фотогалерея
              td
                a(href="https://univer-club.ru/contacts/" target="_blank") Схема проезда
      main(style="padding:10px 0;")
        block main
      footer
        block footer
    //- img(src=require('../../img/vlad.jpg'))
    //- |
    hr
    |
    include ./common_html/menu_all_tamplates
