@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
 

a{
  color:#0044bb;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
.clear{
  clear: both;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.top_info_blok{
  width: 400px;
  float: left;
}
.logo{
  width: 150px;
  float: right;
  img{
    width: 124px;
  }
}

/* таблицы */
.row{
  padding: 2% 1%;
  width: 98%;
  overflow: hidden;

  td {
    border-top: 1px solid #e8e8e8;
    padding: 10px;
  }
}
.row::after{clear: both;}
.no-border{
  border: none!important;
}
.no-border-right{
  border-left: none;
}
.no-border-right{
  border-right: none;
}
.col1, .col2, .col3 ,.col4{
  overflow: hidden;
  width: 18%;
  border-right: 1px solid #e8e8e8;
}

.col1{
  width: 40%;
  img{
    width: 80px;
    margin-right: 2%;
    float: left;
    @include border-radius(10px);
  }
  .title{
    color: #0044bb;
  }
}
.col2{}
.col3{}
.col4{}

.button-pay{
	border: none;
	margin: 5px 0px;
	padding: 5px 8px;
	background: #fed546;
	color:#000;
	cursor: pointer;
}

.hidden-pc{
	display: none!important;
	@media screen and (max-width: 668px) {
		display: block!important;;
	}
}
.hidden-mob{
	display: none!important;;
	@media screen and (min-width: 668px) {
		display: block!important;;
	}
}
