extends ../base
block title 
  | mg_order_fast
block main
      div.top_info_blok 
        p 
          strong Имя: 
          |Наталья
        p 
          strong Телефон: 
          |
          a(href="phone:+7 968 617-88-22") +7 968 617-88-22
        p 
          strong E-mail: 
          |
          a(href="mailto:business.savin@gmail.com") business.savin@gmail.com [написать↑]
      div.logo
        img(src=require('../../img/logo.png'))
      .clear
      .clear
      table
        tr(colspan='4') &nbsp;
        tr.row
          td(colspan='4') 
            p 
              i Сообщение:
            p Моё сообщение для вас, из формы быстрого обращения на что либо, может быть много символов , может быть много символов , может быть много символов , может быть много символов , может быть много символов , может быть много символов 
block footer
