body{
	background: #fff!important;
}
div{
	display: none!important;
}
div.fuck_ie8{
	display: block!important;
	width: 300px;
	border: 5px dashed #f00;
	margin: 10% auto 0 auto;
	padding: 5px;
	text-align: center;
	background: #fff;
	color:#000;
	font-size: 110%;
}
