h4(style="margin:20px 0 0 0;text-align:center") Есть вопросы? Пишите!
ul.block-us(style="text-align:center;padding:15px 2px;margin:0;width:100%;")
  li(style="width:auto;display:inline-block;vertical-align:text-top;margin:0 5px;")
    a(href="https://api.whatsapp.com/send?phone=79234567890" target="_blank" style="display:block;cursor:pointer;border-radius:16px;-webkit-border-radius:16px;-moz-border-radius:16px;width:32px;height:32px;background:url(https://univer-club.ru/catalog/view/theme/default/template/mail/img/messengeres.png) no-repeat;background-position:0 0;")
  li(style="width:auto;display:inline-block;vertical-align:text-top;margin:0 5px;")
    a(href="https://web.telegram.org/#/im?p=@univerclub" target="_blank" style="display:block;cursor:pointer;border-radius:16px;-webkit-border-radius:16px;-moz-border-radius:16px;width:32px;height:32px;background:url(https://univer-club.ru/catalog/view/theme/default/template/mail/img/messengeres.png) no-repeat;background-position:-39px 0;")
  li(style="width:auto;display:inline-block;vertical-align:text-top;margin:0 5px;")
    a(href="skype:univerclub" target="_blank" style="display:block;cursor:pointer;border-radius:16px;-webkit-border-radius:16px;-moz-border-radius:16px;width:32px;height:32px;background:url(https://univer-club.ru/catalog/view/theme/default/template/mail/img/messengeres.png) no-repeat;background-position:-77px 0;")
  li(style="width:auto;display:inline-block;vertical-align:text-top;margin:0 5px;")
    //- Для приложения Viber на ПК
    a(href="viber://chat?number=+79250038189" target="_blank" style="display:block;cursor:pointer;border-radius:16px;-webkit-border-radius:16px;-moz-border-radius:16px;width:32px;height:32px;background:url(https://univer-club.ru/catalog/view/theme/default/template/mail/img/messengeres.png) no-repeat;background-position:-115px 0;")
