ol(style="margin:15px 15px 15px 35px")
  li
    a(href="/") +mg_order_fast (index)
  li
    a(href="usr_order_fast.html") +usr_order_fast
  li
    a(href="mg_correspondence_mail.html") mg_correspondence_mail
  li
    a(href="mg_order_call.html") +mg_order_call
  li
    a(href="mg_order_mail.html") +mg_order_mail
  li
    a(href="usr_order_mail.html") +usr_order_mail
  li
    a(href="mg_payment_success.html") mg_payment_success
  li
    a(href="usr_payment_deny.html") usr_payment_deny
  li
    a(href="usr_payment_success.html") usr_payment_success
  li
    a(href="usr_order_cancel.html") usr_order_cancel
  li
    a(href="mg_order_basket.html") + mg_order_basket
  li
    a(href="usr_order_basket.html") + usr_order_basket
  li
    a(href="usr_order_basket_forgot.html") usr_order_basket_forgot
  li
    a(href="mg_order_constructor.html") --mg_order_constructor
  li
    a(href="usr_order_constructor.html") --usr_order_constructor
  li
    a(href="usr_give_feedback.html") --usr_give_feedback        
  li
    a(href="usr_interview.html") --usr_interview
