ul.payment__icons
  li
    div(class="cash" title="Наличный расчет")
  li
    div(class="non-cash" title="Безналичный расчет")
  li
    div(class="bankcards" title="Банковские карты Visa и MasterCard")
  li
    div(class="yandex-dengi" title="Яндекс.Деньги")
  li
    div(class="terminals" title="Наличными в терминале")
  li
    div(class="alfa-click" title="Альфа-Клик")
  li
    div(class="sb-online" title="Сбербанк: оплата по SMS или Сбербанк Онлайн")
  li
    div(class="promsvyaz" title="Интернет-банк Промсвязьбанка PSB-Retail")
  li
    div(class="masterpass" title="MasterPass")
  li
    div(class="kupivkredit" title="КупиВкредит")
  li
    div(class="qppiru" title="Куппи.ру")
