h4(style="margin:20px 0 0 0;text-align:center") Подписывайтесь
ul.soc__list.soc__icons(style="text-align:center;padding:15px 2px;margin:0;width:100%;")
  li(style="width:auto !important;display:inline-block;vertical-align:text-top;margin:0 5px;")
    a(href="http://vk.com/univerclub_main" title="Вконтакте" target="_blank" style="display:block;cursor:pointer;width:32px;height:32px;background:url(https://univer-club.ru/catalog/view/theme/default/template/mail/img/socseti.png) 0 0 no-repeat;border-radius:16px;-webkit-border-radius:16px;-moz-border-radius:16px;background-position:-38px 0px;")
  li(style="width:auto !important;display:inline-block;vertical-align:text-top;margin:0 5px;")
    a(href="http://www.facebook.com/univerclub" title="Facebook" target="_blank" style="display:block;cursor:pointer;width:32px;height:32px;background:url(https://univer-club.ru/catalog/view/theme/default/template/mail/img/socseti.png) 0 0 no-repeat;border-radius:16px;-webkit-border-radius:16px;-moz-border-radius:16px;background-position:0 0;")
  li(style="width:auto !important;display:inline-block;vertical-align:text-top;margin:0 5px;")
    a(href="https://instagram.com/univerclub" title="Instagram" target="_blank" style="display:block;cursor:pointer;width:32px;height:32px;background:url(https://univer-club.ru/catalog/view/theme/default/template/mail/img/socseti.png) 0 0 no-repeat;border-radius:16px;-webkit-border-radius:16px;-moz-border-radius:16px;;background-position:-75px 0;")
