extends ../base
block title 
  | mg_order_fast
block main
      div.top_info_blok 
        p 
          strong Номер заказа: 
          |№0001
        p &nbsp; 
        p 
          strong Имя: 
          |Наталья
        p 
          strong Телефон: 
          |
          a(href="phone:+7 968 617-88-22") +7 968 617-88-22
        p 
          strong E-mail: 
          |
          a(href="mailto:business.savin@gmail.com") business.savin@gmail.com [написать↑]
      div.logo
        img(src=require('../../img/logo.png'))
      .clear
      table
        tr
          td.col1.no-border-right &nbsp;
          td.col2.text-center.no-border-left Цена
          td.col3.text-center.no-border-left Количество
          td.col4.text-center.no-border-left.no-border-right Стоимость
        tr.row
          td.col1.no-border-right
            img(src=require('../../img/logo.png'))
            a.title(href="#" target="_blank") Свитшот и его полное название, оно может быть большим
            .p простой текст
          td.col2.text-center.no-border-right.no-border-left информация
          td.col3.text-center.no-border-right.no-border-left информация
          td.col4.text-center информация
        tr.row
          td.col1.no-border-right
            img(src=require('../../img/logo.png'))
            a.title(href="#" target="_blank") Свитшот и его полное название, оно может быть большим
            .p простой текст
          td.col2.text-center.no-border-right.no-border-left информация
          td.col3.text-center.no-border-right.no-border-left информация
          td.col4.text-center информация
        tr.row
          td.col1.no-border-right
            img(src=require('../../img/logo.png'))
            .p Адрес дотсавки
            a.title(href="#" target="_blank") г.Москва, ул.Пионерская, д.11, стр.32, кв.4
          td.col2.text-center.no-border-right.no-border-left(colspan="2")
            p Способ доставки
            p &nbsp;
            p почта России
          //- td.col3.text-center.no-border-right.no-border-left информация
          td.col4.text-center
            p Стоимость
            p &nbsp;
            p 400 руб.
        tr.row
          td.col1.no-border-right(colspan="4")
            p 
              i Комментарий к заказу:
            p Вот я заказала такая я молодец 
           
        tr.row
          td(colspan="1")
            p Форма оплаты 
              strong наличными
            p Статус заказа 
              strong не оплачен
          td(colspan="3").text-right
            p Общая стоимость заказа: 
              strong 21 400 руб.
block footer
