extends ../base
block title 
  | mg_order_fast
block main
      div.top_info_blok
        p Здравствуйте, Наталья.
        p Ваш заказ очень важен для нас!
        p Номер заказа: 
         strong №0001
        p &nbsp;
        p В ближайшее время менджер свяжеться
        p с вами для обсуждения деталей заказа
      div.logo
        img(src=require('../../img/logo.png'))
      .clear
      table
        tr.row
          td(colspan='4').no-border
        tr.row
          td(colspan='3').col1
            img(src=require('../../img/logo.png'))
            a.title(href="#" target="_blank") Свитшот и его полное название, оно может быть большим
            .p простой текст
          td.col4.text-center 1100 руб.
        tr.row
          td(colspan='4')
            p 
              i Комментарий к заказу:
            p Вот купила через быструю покупку т.к. хочу быструю покупку
      include ./../common_html/soc__list
      include ./../common_html/call__us
block footer
