extends ../base
block title 
  | mg_order_fast
block main
      div.top_info_blok 
        p Здравствуйте, Наталья.
        p Ваш заказ очень важен для нас!
        p Номер заказа:
         strong №0001
        p &nbsp;
        p В ближайшее время менджер свяжеться
        p с вами для обсуждения деталей заказа
      div.logo
        img(src=require('../../img/logo.png'))
      .clear
      table
        tr
          td.col1.no-border-right &nbsp;
          td.col2.text-center.no-border-left Цена
          td.col3.text-center.no-border-left Количество
          td.col4.text-center.no-border-left.no-border-right Стоимость
        tr.row
          td.col1.no-border-right
            img(src=require('../../img/logo.png'))
            a.title(href="#" target="_blank") Свитшот и его полное название, оно может быть большим
            .p простой текст
          td.col2.text-center.no-border-right.no-border-left информация
          td.col3.text-center.no-border-right.no-border-left информация
          td.col4.text-center информация
        tr.row
          td.col1.no-border-right
            img(src=require('../../img/logo.png'))
            a.title(href="#" target="_blank") Свитшот и его полное название, оно может быть большим
            .p простой текст
          td.col2.text-center.no-border-right.no-border-left информация
          td.col3.text-center.no-border-right.no-border-left информация
          td.col4.text-center информация
        tr.row
          td.col1.no-border-right
            img(src=require('../../img/logo.png'))
            .p Адрес дотсавки
            a.title(href="#" target="_blank") г.Москва, ул.Пионерская, д.11, стр.32, кв.4
          td.col2.text-center.no-border-right.no-border-left(colspan="2")
            p Способ доставки
            p &nbsp;
            p почта России
          //- td.col3.text-center.no-border-right.no-border-left информация
          td.col4.text-center
            p Стоимость
            p &nbsp;
            p 400 руб.
        tr.row
          td(colspan="1")
            p Форма оплаты 
              strong наличными
            p Статус заказа 
              strong не оплачен
          td(colspan="3").text-right
            p Общая стоимость заказа: 
              strong 21 400 руб.
            form(action="https://univer-club.ru/yandex-kassa-form/" method="get")
              input(type="hidden" name="summa" value="21400")
              input(type="hidden" name="email" value="business.savin@gmail.com")
              input(type="hidden" name="phone" value="89686178822")
              p Яндекс.Касса 
                button(class="button-pay") Оплатить
            p 
              img(src=require('../../img/paysystems.png'))
      include ./../common_html/soc__list
      include ./../common_html/call__us
block footer
