extends ../base
block title 
  | usr_order_mail
block main
  table(border="0" cellpadding="0" cellspacing="0" style="width:100%; margin:0; padding:0; font-size:14px;")
    tr
      td(style="width:400px")
        p Номер вашего обращения:
          strong 0000001
        p Здравствуйте, Наталья.
        p Спасибо что написали нам!
        p В ближайшее время менджер свяжеться
        p с вами для обсуждения деталей заказа
      td(style="text-align:right")
        img(src='https://univer-club.ru/catalog/view/theme/default/template/mail/img/logo.png' style="width:124px;display:block;" alt="" border="0" width="124" align="right")
    tr
      td(colspan="2")
        p 
          i 
            strong Ваше сообщение:
        p Моё сообщение для вас, из формы быстрого обращения на что либо, может быть много символов , может быть много символов , может быть много символов , может быть много символов , может быть много символов , может быть много символов 
  include ./../common_html/soc__list
  include ./../common_html/call__us
block footer
