@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

ul.block-us {
	text-align: center;
	padding: 15px 2px;
	margin: 0;
	width: 100%;

	li {
		width: auto!important;
		display: inline-block;
		vertical-align: text-top;
		margin: 0 5px;
	}
}

.block-us__a {
	display: block;
	cursor: pointer;
	@include border-radius(16px);
	width: 32px;
	height: 32px;
	background: url("../../img/messengeres.png") no-repeat;
}

.block-us__whats-up {
	background-position: 0 0;
}

.block-us__telegramm {
	background-position:-39px 0;
}

.block-us__skype {
	background-position:-77px 0;
}

.block-us__viber {
	background-position:-115px 0;
}
