footer {
  width: 100%;
  background: #333;

  .footer {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    @media screen and (max-width: 600px) {
      padding: 25px 20px;
    }

    .footer__copy {
      float: left;
      color: #fff;
      width: 40%;

      a {
        color: #fff;
      }
      @media screen and (max-width: 600px) {
        float: none;
        width: 100%;
        margin-bottom: 25px;
        text-align: center;

        address {
          margin-top: 20px;

          a {
            text-decoration: underline;
          }
        }
      }
    }

    .footer__contacts {
      float: right;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          border-bottom: 1px dashed #fff;
        }
      }
      @media screen and (max-width: 600px) {
        float: none;
        width: 100%;
        text-align: center;

        p {
          margin: 25px;
        }

        a {
          border-bottom: 1px dashed #fff;
        }
      }
    }
  }
}
div.fuck_ie8{
  display: none;
}
