.payment__icons {
    text-align: center;
  li {
    display: inline-block;
    vertical-align: text-top;
    width: auto;
    margin: 5% 1%;
    @media screen and (max-width: 716px) {
      margin: 5% 1%;
    }
    @media screen and (max-width: 600px) {
      margin: 5% 7%;
    }
  }

  div {
    width: 32px;
    height: 32px;
    background: url('../img/icons/payment.png') 0 0 no-repeat;
  }

  .cash {
    background-position: -65px -32px;
  }

  .non-cash {
    background-position: -33px 0;
  }

  .bankcards {
    background-position: -32px -32px;
  }

  .yandex-dengi {
    background-position: -129px -96px;
  }

  .terminals {
    background-position: -129px -32px;
  }

  .alfa-click {
    background-position: -129px 0;
  }

  .sb-online {
    background-position: -96px -96px;
  }

  .promsvyaz {
    background-position: -97px -64px;
  }

  .masterpass {
    background-position: -64px -64px;
  }

  .kupivkredit {
    background-position: 0 -64px;
  }

  .qppiru {
    background-position: -64px -96px;
  }
}
