@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}


ul.soc__icons {
	text-align: center;
	padding: 15px 2px;
	margin: 0;
	width: 100%;

	li {
		width: auto!important;
		display: inline-block;
		vertical-align: text-top;
		margin: 0 5px;
	}
    a{
			display: block;
			cursor: pointer;
    	width: 32px;
    	height: 32px;
    	background: url('../../img/socseti.png') 0 0 no-repeat;
			@include border-radius(16px);
  }

  .vk {
    background-position: -38px 0px;
  }

  .fb {
    background-position: 0 0;
  }

  .inst {
    background-position: -75px 0;
  }
}
